# 忽略.classpath
.classpath
# 忽略.project
.project
# 忽略 bin 文件夹
bin/
# 忽略 .settings 文件夹
.settings/
# 忽略 .git 文件夹
.git/
# 忽略 opti 文件夹
opti/
# 忽略 .vscode
.vscode/
# 忽略 javac-services 文件
javac-*
# 忽略 .idea 文件夹
.idea/
# 忽略 idea 的项目文件
landuse.*
#忽略 out 文件夹
out/
